<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container mt-5">
    <h2 th:text="${tag.id == null} ? 'Add New Tag' : 'Edit Tag'" class="mb-3">Tag Form</h2>
    <form th:action="@{/tags}" th:object="${tag}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" class="form-control">
            <small class="text-danger" th:errors="*{name}"></small>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>


</body>
</html>
